<div id="chats">
  <div class="row">
    <div class="col-md-12">
      <div class="chat-container">
        <div class="left">
          <div class="top">
            <input type="text" />
            <a href="" class="search"></a>
          </div>
            <ul class="people">
              <li class="person" data-chat="person1">
                <img src="http://s13.postimg.org/ih41k9tqr/img1.jpg" alt="" />
                <span class="name">Thomas Bangalter</span>
                <span class="time">2:09 PM</span>
                <span class="preview">I was wondering...</span>
              </li>
            </ul>
        </div>

        <div class="right">
          <div class="top"><span>To: <span class="name">Dog Woofson</span></span></div>
          <div class="chat active-chat" data-chat="person1">
            <div class="conversation-start">
              <span>Today, 6:48 AM</span>
            </div>
            <div class="bubble you">
              Hello,
            </div>
            <div class="bubble you">
              it's me.
            </div>
            <div class="bubble you">
              I was wondering...
            </div>
          </div>
          <div class="write">
            <a href="" class="write-link attach"></a>
            <input type="text" />
            <a href="" class="write-link smiley"></a>
            <a href="" class="write-link send"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
