<div class="row">
  <div class="col-md-7">
    <div id="post">
      <%= render partial: "posts/post" %>
    </div>
    <div id="activity">
      <%= render partial: "shared/activity", collection: @activities, as: :activity %>
    </div>
  </div>
  <div class="apply-modal"></div>
  <div class="share-post-modal"></div>
</div>
