<div class="row">
  <div class="col-md-3 post-managers">
    <%= render "shared/post_manager_left_navbar", active_name: "home" %>
  </div>
  <div class="col-md-6">
    <div id="post">
      <%= render partial: "posts/post" %>
    </div>
    <div id="activity">
      <%= render partial: "shared/activity", collection: @activities, as: :activity %>
    </div>
  </div>
  <%= render "shared/modal_container" %>
</div>
