<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= t "profiles.panel_headings.basic_info" %></strong>
  </div>
  <div class="panel-body">
    <%= render partial: "user_profile_detail" %>
  </div>
</div>
