<table>
  <tr>
    <td><%= t "profiles.name" %></td>
    <td><%= skill.name %></td>
  </tr>
  <tr>
    <td><%= t "profiles.description" %></td>
    <td><%= skill.description %></td>
  </tr>
</table>
<hr>
