<div id="recommendations" class="row">
  <div class="col-md-8">
    <strong><%= t "labels.suggest_recruiters" %></strong>
    <%= render "recommendations/user_suggest_box", users: @users,
      result_ids: @result_ids %>
  </div>
</div>
