<div id="chats">
  <div class="row">
    <div class="col-md-12">
      <div class="chat-container">
        <%= render "conversations/left", conversations: @conversations,
          active_conversation: @conversation %>
        <div class="right-conversation">
          <%= render "conversations/right", conversation: @conversation,
            conversation_partner: @conversation.conversation_partner(current_user) %>
        </div>
      </div>
      <%= render "conversations/loading_spinner" %>
    </div>
  </div>
</div>
<%= render "conversations/new_conversation_modal" %>
