<span id= "activity-like-<%= activity.id %>">
  <% like_post = current_user.like_posts.by_activity activity.id %>
  <% if like_post.present? %>
    <%= render "shared/unlike", like_post: like_post.first  %>
  <% else %>
    <%= render "shared/like", activity: activity %>
  <% end %>
</span>
