<li>
  <%= link_to "" do %>
    <%= image_tag notification.user_avatar_url,
      class: "img-circle pull-left content-img", size: Settings.images.sizes.small_avatar %>
      <div class="content-text">
        <%= notification_content notification %>
      </div>
      <div class="content-date">
        <%= l notification.created_at, format: :datetime %>
      </div>
  <% end %>
</li>
