<div class="post-content">
  <% if post.job_post.present? %>
    <%= render "shared/job_post_content", job_post: post.job_post %>
  <% end %>
  <div class="post-article">
    <%= post.content.html_safe if post.content %>
  </div>
  <div class="post-image">
    <%= image_tag post.image_url, class: "img-responsive" if post.image_url %>
  </div>
</div>
