<%= form_for @post, remote: true, html: {id: "new-job-post"} do |f| %>
  <div id="job-post-errors"></div>
  <%= render "posts/post_job_content", f: f %>

  <%= render "posts/button", ff: f %>
<% end %>
