@import "bootstrap-sprockets";
@import "bootstrap";

.btn {
  border-radius: 0px;
  outline: none !important;
}

.form-control {
  font-size: 13px;
  border-radius: 0px;
  border: 1px solid #ddd;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-box-shadow: none !important;
}

.form-control:focus {
  border-color: #00b9f2;
}

.btn-warning {
  height: 35px;
  background-color: #f7941d;
  color: white;
}

.full-width {
  width: 100%;
}

#error_explanation {
  color: #B23838;
  ul {
    color: gray;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
