@import "bootstrap-sprockets";
@import "bootstrap";

a:hover, a:focus, a:active {
  text-decoration: none;
}

.btn {
  border-radius: 0px;
  outline: none !important;
}

.form-control {
  font-size: 13px;
  border-radius: 0px;
  border: 1px solid #ddd;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-box-shadow: none !important;
}

.form-control:focus {
  border-color: #00b9f2;
}

.btn-warning {
  height: 35px;
  background-color: #f7941d;
  color: white;
}

.full-width {
  width: 100%;
}

#error_explanation {
  color: #B23838;
  ul {
    color: gray;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.white-bg {
  padding: 12px;
  background-color: WHITE;
}

.flash {
  position: fixed;
  z-index: 10000;
  top: 65px;
  opacity: 0.8;
  right: 10px;

  .close {
    font-weight: normal;
    text-decoration: none;
  }
}

.btn, .btn-status {
  height: 27px;
  padding: 3px 10px;
  margin-left: 5px;
}

.btn-status {
  width: 110px;
}

.fa-red {
  color: RED;
}

.suggest-box {
  margin: 10px 0px;
}

.suggest-list {
  margin-bottom: 10px;

  .suggest-box {
    margin: 10px 0px;
  }

  .suggest-job {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
}
