#job-posts {
  table {
    .name {
      width: 55%
    }

    .job-type {
      width: 25%;
    }

    .date {
      width: 20%;
    }
  }

  .job-details {
    line-height: 30px;

    .job-name {
      font-size: 24px;
      font-weight: bold;
    }

    .job-type {
      .badge {
        color: BLACK;
        background-color: white;
        border: 1px solid #ddd;
        font-weight: normal;
      }
    }
  }

  .apply-users {
    margin-bottom: 10px;

    .title {
      font-size: 16px;
      padding-bottom: 10px;
    }

    .apply-user {
      padding: 10px 0px;
    }
  }

  .new-feeds {
    margin: 0px;
  }
}
