#post-form, #edit-post-modal {
  background: WHITE;
  border: 1px solid #eee;

  #new-post, #new-job-post {
    padding: 15px 20px 10px 20px;

    .button {
      margin-top: 10px;
    }
  }

  .nav-tabs {
    padding-left: 22px;
    background-color: #eee;
    li {
      text-align: center;
      padding-top: 10px;
      background-color: #eee;

      a {
        padding: 7px 20px;
      }
    }
  }

  #cke_1_contents {
    height: 150px !important;
  }

  #post_content {
    height: 70px;
  }

  .thumbnail {
    border: none;
    margin-top: 10px;
    width: 200px;
  }
}

#edit-post-modal {
  background-color: transparent;
}

#posts {
  table {
    .content {
      width: 80%;
    }

    .date {
      width: 20%;
    }
  }
}
